* {
    padding: 0;
    margin: 0;
}



#readme:hover {
    cursor: pointer;
}


#rockeur12:hover {
    cursor: pointer;
}

#rockeur12 {

}

.imgrectangle {
    position: absolute;

}


.imgchanteur:hover {
    cursor: pointer;
}

.imgchanteur {
    margin-top: 70px;
}

.textrect {
    font-size: 31px;
    font-style: italic;
    opacity: 0.5;
    color: #7c8092;
    margin-left: 49px;
    margin-top: -20px;
}

.imagelogo1:hover {
    cursor: pointer;
}

.h3shareTP {
    font-size: 14px;
}

.bontonshare:hover {
    cursor: pointer;
}

.Latestnews2 {
    width: 371px;
    height: 42px;
    font-size: 40px;
}

.flecheslider {

}

.flecheslider:hover {
    cursor: pointer;
}

.mamud {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.space {
    width: 370px;
    height: 466px;
    box-shadow: 0 3px 40px rgba(16, 41, 112, 0.14);
    border-radius: 4px;
    background-color: #ffffff;
    margin-left: 35px;
    margin-top: 45px;
    cursor: grab;
}

.sharetwiter2:hover {
    cursor: pointer;
}

.textnwarr2 {
    width: 522px;
    height: 21px;
    color: #778fc3;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 19px;
}

.formtext3 {
    width: 300px;
    border: none;
    margin-top: 50px;
    background:none;
    color: white;
    outline: none;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

#bonttonregister33 {
    width: 400px;
    height: 64px;
    border: 2px solid grey;
    background:none;
    opacity: 0.5;
    color: white;
}

#bonttonregister33:hover {
    background-color: white;
}

#groslogomimusic23 {
    width: 240px;
    height: 60px;
}

#groslogomimusic23:hover {
    cursor: pointer;
}

#navbarfoother {
    list-style: none;
}

#container
        {
            width: 642px;
            height: auto;
            overflow: hidden;
        }
        #list-container
        {
            overflow: hidden;
            width: 600px;
            float: left;
            border: solid 1px blue;
        }
        .list
        {
            background: #fff;
            min-width: 3400px;
            float: left;
        }
        #arrowR
        {
            background: yellow;
            width: 20px;
            height: 50px;
            float: right;
            cursor: pointer;
            margin-top: 90px;
            text-align: center;
            font-family: Arial;
            font-size: 20px;
            color: #000;
            padding-top: 25px;
        }
        #arrowL
        {
            margin-top: 90px;
            background: yellow;
            width: 20px;
            height: 50px;
            float: left;
            cursor: pointer;
            text-align: center;
            font-family: Arial;
            font-size: 20px;
            color: #000;
            padding-top: 25px;
        }
        .item
        {
            background: red;
            width: 140px;
            height: 240px;
            margin: 5px;
            float: left;
            position: relative;
            text-align: center;
            font-family: Arial;
            font-size: 20px;
            color: White;
        }

.policediv4 {
    font-size: 13px;
}

.policedatediv9 {
    font-size: 12px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}
